{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load socialaccount %}
{% block content %}
<head>
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
</head>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="1010200317712-iordqnb3dfqtnmtlmvtma8v4otpe98sh.apps.googleusercontent.com.apps.googleusercontent.com">
{% csrf_token %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><a href="{% provider_login_url 'google' %}"><div><img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/><i class="fab fa-google mr-2"></i> Sign in with Google</a></div></button>
              <hr class="my-4">
            </form>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" href="{% url 'account_signup' %}">New to NextBook? Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
