{% extends 'base.html'%}
{% load static %}

{% block title %}Confirm book deletion{% endblock %}
{% block content %}
<body>
  <div class="site-section bg-light">
    <div class="container">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-3" style="width:120%">
          <div class="card-body">
            <h3 class="card-title text-center"><b>Confirm book post deletion.</b></h3>
              <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
