{% extends 'base.html' %}
{% load static %}
{% block title%} Edit Profile {% endblock %}
{% block content %}
<div class="site-section bg-light">
        <div class="col-sm-5 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-0" style="width:110%">
                <div class="card-body">
                    <h3 class="card-title text-center"><b>Edit Profile Information</b></h4>
        {% if object == request.user or request.user.is_authenticated %}
  <!--      {% for message in messages %}
          {% if message.level == 25 %}
          <ul class="messages">
              <div style="float:left" class="alert alert-success">
                <strong>Success!</strong> Your profile has been updated!
              </div>
          </ul>
          {% endif %}
        {% endfor %}-->
                {% csrf_token %}
                {% for field in user_form %}
                <div class="form-label-group" style="float:center">
                  {{field.label_tag}}
                  <p>{{field}} </p>
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                </div>
                {% endfor %}
                {% for field in profile_form %}
                {{field.label_tag}}
                <p>{{field}} </p>
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  <!-- {% if field.field.required %} *{% endif %} -->
                </div>
                {% endfor %}
                  {% for error in user_form.non_field_errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                  {% for error in profile_form.non_field_errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                  <!--{{ profile_form.as_p }}
                  {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: black">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %} -->
                <input class="btn btn-primary py-2" type="submit" value="Submit"/>
            </form>
        {% else %}
        <div class="col-md-10">
            <h3 class="font-weight-bold text-black"> Please login first </h3>
            <a href="{% url 'login' %}" class="btn btn-primary py-2">Login</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary py-2">Sign up</a>
        </div>
        {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
